<!DOCTYPE html>
<html lang="en">

   <head>
    <meta charset="UTF-8">
    <title>Social Shopper</title>
    <link rel ="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js" > </script>
</head>
<body>

   <div class ="container">
            <div id="main-navbar-div">
             <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="#">Social Shopper</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="{% url 'contact' %}">Contact</a>
                        </li>
                      </ul>
                     <span>
                      <a href = "{% url 'logout' %}">
                       Log Out
                      </a>
                     </span>

                    </div>
                  </div>
                </nav>


            </div>
        </div>
    <div class = "container mt-3">
        <div class = "row" >
            <div class = "col-2">
                <div class="list-group">
                  <a href="{% url 'user_home' 'pr' %}" class="list-group-item list-group-item-action active">Proposed</a>
                  <a href="{% url 'user_home' 'ac' %}" class="list-group-item list-group-item-action">Active</a>
                  <a href="{% url 'user_home' 'co' %}" class="list-group-item list-group-item-action">Completed</a>
                </div>
            </div>
             <div class = "col-8">
                 <ul class = "list-group list-group-flush">
                 {%  for shop in shoppings %}
                     <li class = "list-group-item">
                        <div class = "card">
                            <div class = "card-header text-center">
                                <h4> {{shop.venues}}
                                </h4>
                            </div>
                            <div class = "card-body">
                                <div class = "row">
                                    <div class = "col-3">
                                        <h5 class = "card-title">
                                            <i class = "far fa-calendar"></i>
                                            {{shop.datetime}}
                                        </h5>
                                    </div>
                                    <div class = "col-7">
                                        <div class = "card" style = "width:18rem;">
                                            <div class = "card-body">
                                                <h5 class = "card-title">
                                                    About {{shop.shopper.name}}:
                                                </h5>
                                                <div class = "row">
                                                    <div class = "col"> Shops Done: {{shop.shopper.shopsDone}} </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class = "col-2">
                                        <form method = "post" action = " {% url 'shopping_detail' shop.id %}">
                                            {% csrf_token %}
                                            <button class = "btn btn-primary" type = "submit" >View</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </li>
                     {% endfor %}
                 </ul>
             </div>
             <div class = "col-2"></div>
        </div>
    </div>


</body>
</html>