<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Social Shopper</title>
    <link rel ="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js" > </script>
</head>
<body>
  <div class ="container">
            <div id="main-navbar-div">
             <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'user_home' %}">Social Shopper</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="{% url 'contact' %}">Contact</a>
                        </li>
                      </ul>
                     <span>
                      <a href = "{% url 'logout' %}">
                       Log Out
                      </a>
                     </span>

                    </div>
                  </div>
                </nav>
            </div>
        </div>
    <div class= "container mt-3">
        <div class = "row">
            <div class = "col-2"></div>
            <div class = "col-8">
                <div class="card text-center">
                      <div class="card-header">
                        Shopping-Details
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">{{shopping.venues}}</h5>
                          <p><b>{{shopping.datetime}}</b></p>
                          <p>Your Requests:</p>
                          <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Request ID</th>
                                  <th scope="col">Amount</th>
                                  <th scope="col">Status</th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              <tbody>
                               {% for sr in shoppingRequests %}
                                <tr>
                                  <th scope="row">{{sr.id}}</th>
                                  <td>{{sr.amount}}</td>
                                  <td>{{sr.status}}</td>
                                  <td><button class = "btn btn-primary">Edit</button></td>
                                  <td><button class = "btn btn-warning">Delete</button></td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                       {% if not isOwner %}
                          <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              Request a Shopping
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <form>
                                      <div class="mb-3">
                                        <input type="text" class="form-control" name="shopping_id" value="Shopping ID: {{shopping.id}}"
                                        readonly>
                                      </div>
                                      < class="mb-3">
                                      <table class="table">
                                          <thead>
                                            <tr>
                                              <th scope="col">#</th>
                                              <th scope="col">Name</th>
                                              <th scope="col">Brand</th>
                                              <th scope="col">Quantity</th>
                                              <th scope="col">Price</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <th scope="row">1</th>
                                              <td><input type="text" name="name_1"></td>
                                              <td><input type="text" name="brand_1"></td>
                                              <td><input type="text" name="quantity_1"></td>
                                              <td><input type="text" name="price_1"></td>
                                            </tr>
                                            <tr>
                                              <th scope="row">2</th>
                                               <td><input type="text" name="name_2"></td>
                                              <td><input type="text" name="brand_2"></td>
                                              <td><input type="text" name="quantity_2"></td>
                                              <td><input type="text" name="price_2"></td>
                                            </tr>
                                            <tr>
                                              <th scope="row">3</th>
                                               <td><input type="text" name="name_3"></td>
                                              <td><input type="text" name="brand_3"></td>
                                              <td><input type="text" name="quantity_3"></td>
                                              <td><input type="text" name="price_3"></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                        <button type="submit" class="btn btn-primary col-12">Submit</button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endif %}
                      </div>
                      <div class="card-footer text-muted">
                        Total Shoppings Done by Shopper: {{shopping.shopper.shopsDone}}
                      </div>
                    </div>
            </div>
            <div class = "col-2"></div>
        </div>
    </div>
</body>
</html>