<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Shopper</title>
    <link rel ="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js" > </script>

</head>
<body>
     <div class ="container">
            <div id="main-navbar-div">
             <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="#">Social Shopper</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="{% url 'contact' %}">Contact</a>
                        </li>

                      </ul>

                    </div>
                  </div>
                </nav>


            </div>
        </div>
    <div class = "container">
        <div class = "row" style="margin-top:50px;">

          <div class = "col-4"> </div>
          <div class = "col-4" style="padding:50px;">
              <div class="card bg-light shadow-lg " style="width: 18rem;" >
                  <img src="https://img.freepik.com/free-photo/girl-holds-fashion-shopping-bag-beauty_1150-13673.jpg?size=626&ext=jpg" class="card-img-top" alt="Homepage Image">
                  <div class="card-body">
                      <form action = "{% url 'login' %}" method = "post">
                          {% csrf_token %}
                          <div class="mb-3">
                            <input class="form-control" id="user_username" name="user_username" placeholder="Enter your username:" required>
                          </div>
                          <div class="mb-3">
                            <input class="form-control" id="user_name" name="user_name" placeholder="Enter your name:" required>
                          </div>
                          <div class="mb-3">
                            <input class="form-control" type = "email" id="user_email" name="user_email" placeholder="Enter your email:" required>
                          </div>
                          <div class="mb-3">
                            <input class="form-control" id="user_society" name="user_society" placeholder="Enter your society:" required>
                          </div>
                          <div class="mb-3">
                            <input class="form-control" id="user_phone" name="user_phone" placeholder="Enter your phone number:" required>
                          </div>
                          <div class="mb-3">
                            <input class="form-control" type = "password" id="user_password" name="user_password" placeholder="Enter your password:" required>
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember me</label>
                          </div>
                         <div class = "text-center">
                            <button type="submit" class="btn btn-primary col-12" >Sign Up</button>
                         </div>

                      </form>
                  </div>
              </div>
          </div>
          <div class = "col-4"> </div>
        </div>

    </div>

</body>
</html>